.favIcon {
    height: 35px;
    width: 35px;
}
.favIcon {
    margin-bottom: .5em;
}

.youtube {
    height:150px;
    width:210px;
    border:1px solid #ccc;
    font:16px/26px Georgia, Garamond, Serif;
    overflow:auto;
}

.hide {
    visibility: hidden
}
.fa-youtube {
    margin: 3px
}