#favIcon {
    margin-bottom: .5em;
    color: #3173dc;
}
#favIcon:hover {
    color: #000;
    cursor: pointer;
}
.youtube {
    height:250px;
    width:300px;
    border:1px solid #ccc;
    font:16px/26px Georgia, Garamond, Serif;
    overflow:auto;
}
.hide {
    visibility: hidden
}
.fa-youtube {
    margin: 3px
}
.footer {
    padding: 1rem 1rem 1rem;
}